@import "base/base";
@import "abstract/constants";

//Layouts
@import "layout/wrapper";
@import "layout/header";

//Components
@import "components/nav";
@import "components/section";
@import "components/title";
@import "components/slider";
@import "components/education-table";
@import "components/contacts-list";
@import "components/skills-list";


.body {
  background-color: $color-background;
}

.about {

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('./assets/decorative-images/grey-circles.svg');
    max-width: 220px;
    max-height: 220px;
    width: 100%;
    height: 100%;
    left: 45%;
    z-index: 0;
  }

  margin: 40px 0 0 0;

  &__wrapper {
    position: relative;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__photo {
    width: 60%;
    align-self: flex-end;
    padding: 0 30px 0 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url('./assets/decorative-images/blue-circles.svg');
      background-repeat: no-repeat;
      max-width: 455px;
      max-height: 510px;
      width: 100%;
      height: 100%;
      left: -60px;
      bottom: 10px;
      transform: rotate(135deg);
      z-index: 0;
    }

  }

  &__image {
    max-width: 422px;
    min-width: 200px;
    width: 100%;
    vertical-align: bottom;
    position: relative;
    z-index: 2;
  }

  &__info {
    width: 40%;
    align-self: flex-end;
    position: relative;
  }

  &__name {
    font-family: 'Outfit';
      font-weight: 600;
      font-size: 5rem;
      line-height: 100%;
      text-transform: uppercase;
      color: $color-blue;
      width: 100%;
      text-align: right;
      margin: 0 100px 20px 0;
      z-index: 2;
  }

  &__position {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 3rem;
    line-height: 100%;
    text-transform: lowercase;
    color: $color-blue;
    text-align: right;
    margin: 0px 0 20px 0;
    z-index: 2;
  }

  &__title-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: $color-blue;
    font-family: 'Sacramento';
    font-size: 6rem;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    background-image: url('./assets/title-backgrounds/about-title.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom 7px right 50%;
  }

  &__text {
    text-align: justify;
    padding: 20px 0 0 0;

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $color-text;
      margin: 40px auto 0 auto;
    }

  }

}




.skills {

  &__title {
    background-image: url('./assets/title-backgrounds/skills-title.png');
  }

  &__list {
    margin: 0 0 0 0;
  }
}



.projects {

  &__title {
    background-image: url('./assets/title-backgrounds/projects-title.png');
  }

}

.education {

  &__title {
    background-image: url('./assets/title-backgrounds/education-title.png');
  }

  &__content {
    margin: 0 auto;
    max-width: 600px;
  }

}

.english {

  &__title {
    background-image: url('./assets/title-backgrounds/english-title.png');
  }

}


.footer {
  &__text {
    font-family: 'Sacramento';
    font-size: 5rem;
    text-align: center;
    color: $color-blue;
  }
}

