.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;

  &__nav {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}