$color-blue: #0A467C;
$color-background: #F6F5F5;
$color-text: #000;
$color-yellow: #FFCC00;
$color-light-yellow: #FCEDA8;

$wrapper-width: 1000px;

$width-tablet: 768px;
$width-mobile: 414px;
$width-min: 320px;