.section {
  // margin: 0 0 10px 0;
  padding: 30px 0 0 0;

  &::after {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background-color: $color-text;
    margin: 40px auto 0 auto;
  }

  &:last-of-type {
    margin-bottom: 40px;

    &::after {
      display: none;
    }

  }

}