.slider {
  // width: 600px;
  // height: 300px;
  margin: 30px auto 0 auto;
  // border: 4px solid $color-blue;
  // overflow: hidden;


  &__radio {
    display: none;
  }

  &__slides-wrapper {
    width: 600px;
    height: 300px;
    overflow: hidden;
    // width: 100%;
    // height: 100%;
    border-radius: 2rem;
    background-color: rgba(223, 223, 211, 0.1);
    border: 5px solid $color-blue;
    margin: 0 auto 0 auto;
  }

  &__slides {
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  &__slide {
    width: 20%;
    cursor: pointer;
    transition: 0.5s;

    img {
      text-align: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      filter: grayscale(1) opacity(0.5);

      &:hover {
        transform: scale(1.1);
        // filter: saturate(1);
        filter: grayscale(0);
      }
    }

  }

  &__inscriptions-and-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
  }
  
  &__inscriptions-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  &__inscriptions {
    width: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    p {
      width: 20%;
    }

  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 0 30px 0;
    padding: 20px 0 0 0;
  }

  &__bar {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 3px;

    &:hover {

      .slider__inside-bar {
        transform: scale(1.2);
        opacity: 0.9;
      }

    }

    &:active {

      .slider__inside-bar {
        transform: scale(1.3);
        opacity: 1;
        background-color: white;
        box-shadow: 0 0 2px 0 white;
      }

    }

  }
  
  &__inside-bar {
    background-color: $color-blue;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 1;
  }
  
  #radio1:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: 0;
  }

  #radio1:checked ~ .slider__controls .inside-bar_1 {
    background-color: $color-yellow;
  }

  #radio2:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -100%;
  }

  #radio2:checked ~ .slider__controls .inside-bar_2 {
    background-color: $color-yellow;
  }

  #radio3:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -200%;
  }

  #radio3:checked ~ .slider__controls .inside-bar_3 {
    background-color: $color-yellow;
  }

  #radio4:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -300%;
  }

  #radio4:checked ~ .slider__controls .inside-bar_4 {
    background-color: $color-yellow;
  }

  #radio5:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -400%;
  }

  #radio5:checked ~ .slider__controls .inside-bar_5 {
    background-color: $color-yellow;
  }
  

}