.slider {
  margin: 30px auto 0 auto;

  &__radio {
    display: none;
  }

  &__slides-wrapper {
    width: 600px;
    height: 300px;
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgba(223, 223, 211, 0.1);
    border: 4px solid $color-blue;
    margin: 0 auto 0 auto;

    &:hover {

      .slider__overview{
        transform: translateX(0);
      }

    }

  }

  &__slides {
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  &__slide {
    width: 20%;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    

    img {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      }

      &:hover {

        img {
          transform: scale(1.03);
          filter: grayscale(1);
        }

    }

  }

  &__overview {
    padding: 20px 20px 20px 30px;
    background-color: rgba(255, 255, 255, 0.88);
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
  }

  &__bar {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 3px;

    &:hover {

      .slider__inside-bar {
        transform: scale(1.2);
        opacity: 0.9;
      }

    }

    &:active {

      .slider__inside-bar {
        transform: scale(1.3);
        opacity: 1;
      }

    }
  }
  
  &__inside-bar {
    background-color: $color-blue;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 1;
  }
  
  #radio1:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: 0;
  }

  #radio1:checked ~ .slider__controls .inside-bar_1 {
    background-color: $color-yellow !important;
  }

  #radio2:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -100%;
  }

	#radio2:checked ~ .slider__controls .inside-bar_2 {
    background-color: $color-yellow !important;
  }
 
  #radio3:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -200%;
  }

  #radio3:checked ~ .slider__controls .inside-bar_3 {
    background-color: $color-yellow;
  }

  #radio4:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -300%;
  }

  #radio4:checked ~ .slider__controls .inside-bar_4 {
    background-color: $color-yellow;
  }

  #radio5:checked ~ .slider__slides-wrapper .slider__slides {
    margin-left: -400%;
  }

  #radio5:checked ~ .slider__controls .inside-bar_5 {
    background-color: $color-yellow;
  }

}

.overview {
  
  font-size: 1.4rem;

  &__title {
    padding: 0 0 0 10px;
    color: $color-blue;
    line-height: 200%;
    font-size: 2rem;
  }

  &__goals-title {
    margin: 10px 0 0 0;
  }

  &__goals  {
    margin: 5px 0 5px 0;
  }

  &__goals-item {
    display: block;
    padding-left: 10px;
    margin: 3px 0 2px 0;
  }

  span {
    font-weight: bold;
    margin-right: 5px;
    transition: none !important;
  }

  
  &__deploy-link,
  &__github-link {
    margin: 10px 0 10px 0;
    color: $color-blue;
    font-weight: bold;


    &:hover {
      color: $color-yellow;
    }
  }

}