.title-container {
	display: flex;
	justify-content: start;
}

.title {
  color: $color-blue;
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 3.8rem;
	padding: 0 0 0 20px;
	background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 7px right 50%;
}
